
@{
    ViewBag.Title = "Index";
    string Id = ViewBag.Id;
    string Name = ViewBag.Name;
    string Add = ViewData["Add"] as string;
}

<h2>Index</h2>
<h3>ID: @Id</h3>
<h2>Name: @Name</h2>
<h2>Address: @Add</h2>

